@charset "UTF-8";

/* TODAS AS DEMAIS MEDIAS */

/* TYPICAL DEVICE BREACKPOINT 

Mobile: 360 x 640
Mobile: 375 x 667
Mobile: 360 x 720
iPhone X: 375 x 812
Pixel 2: 411 x 731
Tablet: 768 x 1024
Laptop: 1366 x 768
High-res laptop or desktop: 1920 x 1080

*/

/* TYPICAL DEVICE BREACKPOINT 

small screens: até 600
mobile: 600 x 768
tablet: 768 x 992
desktop: 992 x 1200
big screens: + 1200

*/

/* IMPRESSÃO */
@media print {
    body{
        font-family: 'Courier New', Courier, monospace;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
    main{
        border: 2px solid black;
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: block;}
    #pc{display: none;}
    #tv{display: none;}
}
/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1024px){
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    #phone{display: none;}
    #tablet{display: block;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: none;}
}
/* DESKTOP */
@media screen and (min-width: 1025px) and (max-width: 1366px){
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: block;}
    #tv{display: none;}
}
/* GRANDES TELAS */
@media screen and (min-width: 1367px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    main{
        width: 700px;
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: block;}
}