html {
    position: relative;
}

body {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 4100px;
    width: 105%;
    margin: 0;
}

header {
    position: absolute;

    top: 5px;
    left: 27%;
    translate: -50%, 0;

    margin-bottom: 300px;
}

.header-example {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: salmon;
    padding: 5px;
    margin-bottom: 30px;
    border: 1px solid red;
    width: 650px;
}

.header-example p {
    flex: 1 1 100%;
}

section {
    margin: 0 3px;
}

.description-items,
.items {
    padding: 3px 8px;
    margin: 5px 3px;
    background-color: lightblue;
    border: 1px solid black;
}

.items::first-letter {
    color: red;
}

.description-items {
    flex: 0 1 200px;
}

.example {
    background-color: salmon;
    border: 1px solid rgba(255, 0, 0, 0.3);
    padding: 8px;
    margin-bottom: 40px;
    width: 650px;
    border-radius: 10px;
}

.axis {
    display: block;
    width: max-content;
    background-color: lightgreen;
    padding: 3px 8px 6px;
    border: 1px solid green;
    margin: auto;
}

.axis .axis-arrow {
    font-size: 1.5rem;
}

.description-text {
    display: inline-block;
    background-color: lightgreen;
    padding: 3px 8px;
    margin: 5px 0;
    border: 1px solid green;
}

.container {
    display: flex;
    border: 1px solid rgb(255, 65, 44);
    border-radius: 5px;
    padding: 1px;
    margin: 5px auto 10px;
}

h3.section-1 {
    margin-top: 300px;
}

h3.section-2 {
    margin-top: 600px;
}

@media screen and (max-width: 1200px) {
    header {
        left: 29%;
    }
}

@media screen and (max-width: 1100px) {
    header {
        left: 31%;
    }
}

@media screen and (max-width: 1050px) {
    header {
        left: 34%;
    }
}

@media screen and (max-width: 950px) {
    header {
        left: 38%;
    }
}

@media screen and (max-width: 950px) {
    header {
        left: 42%;
    }
}

@media screen and (max-width: 760px) {
    header {
        left: 50%;
    }
}
