@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --titulo:normal 1em "Passion One", Arial, Helvetica, sans-serif;
    --normal: normal 1em "Sriracha", cursive, Arial, Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
    padding: 50px 0px;
}
h1{
    color: white;
    font: var(--titulo);
    font-size: max(1.3em, 10vw);
    text-align: center;
}
p.autor{
    color: white;
    text-align: center;
    font: normal lighter 1em Arial, Helvetica, sans-serif;
}
p{
    font: var(--normal);
    font-size: max(0.8em, 3.6vw);
    line-height: 1.9em;
}
.fundo{
    background-color: rgba(0, 0, 0, 0.414);
    padding: 6px 8px;
    width: max-content;
}
aside{
    background-color: white;
    padding: 10vh 0 13vh 30px;
}
.joana{
    background: black url(imagens/background001.jpg) center right no-repeat fixed;
    background-size: cover;
    color: white;
    box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.51);
}
.livro{
    background: black url(imagens/background002.jpg) bottom left no-repeat fixed;
    background-size: cover;
    color: white;
    box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.51);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font: normal lighter 1em Arial, Helvetica, sans-serif;
    padding: 1vh;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
