@charset "UTF-8";

    /*
        em HTML é id       = CSS é # (só pode um elemento)
        em HTML é class = em CSS é . (pode vários elementos)
    */


body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(2, 47, 209);
}

h1#principal {
    text-align: center;
    background-color: rgb(36, 177, 36); 
    border-radius: 20px;
    color: white;
}

h2{
    color: rgb(0, 132, 4);
}

.basico {
    color: rgb(4, 132, 0);
}

.intermediario{
    color: rgb(146, 141, 0);
}

.avançado{
    color: rgb(132, 31, 0);
}